[genuitec-file-id="wc2-72"],[genuitec-lp-path="/fkds1.5.tools/WebRoot/tools/assets/css/page-min.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

.container{margin-left:0;margin-top:0;width:auto;padding:20px 20px 0 20px;}.detail-page,.form-page,.search-page{padding:0;}
